.nav__list {
    background-color: rgb(187, 175, 175);
    color: black;
    list-style-type: none;
    display: flex;
    width: auto;
    padding: 6px;
    justify-content: space-between;
    font-size: 1.5rem;
}
